.listArea {
  position: absolute;
  top: 50vh;
  width: 100vw;
  background-color: 	rgb(181, 198, 214);
  scroll-behavior: auto;
  overflow-y: scroll;
  height: 100vh;
}
.list {
  list-style-type: square;
  color:rgb(181, 198, 214);
}
.font {
  color: rgb(198, 238, 216);
}
.listItem {
 position: relative;
 top: 5vh;
 justify-content: space-evenly;
 margin-left: 10%;
 margin-right: 10%;
 border: 1px solid white;
 background-color:#424242;
 box-shadow: 5px 5px 5px black;
 transition: .2s;
 border-radius: 15px;
 height: 50px;
}

.itemName {
  color: rgb(188, 178, 233);
  width: 180px;
  text-align: left;
  margin-top: 20px;
  margin-right: 100px;
}
/* .itemName:hover {
  color: rgb(188, 178, 233);
}

.itemAddress:hover {
  color: rgb(188, 178, 233);
}
.itemBorough:hover {
  color: rgb(188, 178, 233);
} */
.listItem:active {
  background-color: #343a3f;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}
.itemBorough{
  text-align: right;
  margin-top: -40px;
  margin-right: 10px; 
  color: #edfdf5;
}

.itemSSID{
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  color: #edfdf5;
}

.itemAddress{
  color: #edfdf5;
  text-align: center;
  margin-left: initial;
  width: 300px;
  margin-top: -40px;
  margin-left: 35%;
  /* margin-right: 10px; */
}
