.listArea {
  position: fixed;
  top: 60vh;
  width: 100vw;
  height: 40vh;
  background-color: 	rgb(181, 198, 214);
}
.font {
  color: #ffffff;
}
.listItem {
 position: relative;
 top: 5vh;
 justify-content: space-evenly;
 margin-left: 10%;
 margin-right: 10%;
 border: 1px solid white;
 background-color:#343a3f;
 box-shadow: 5px 5px 5px black;
 /* margin-bottom: 15px; */
 transition: .2s;
 border-radius: 15px;
}

.itemName {
  color: #ffffff;
  display: flex;
  text-align: left;
  margin-top: 20px;
}

.itemDistance{
  color: #ffffff;
  text-align: center;
  margin-top: -50px;
   margin-right: 50px; 
}

.itemAddress{
  color: #ffffff;
  text-align: right;
  margin-top: -50px;
  /* margin-right: 10px; */
}